$color-h1: white;

$color-label: yellow;
//_________________

$color-item_precio_h2: white;

$color-item_precio_h3: white;

$color-item_precio_h6: white;

$color-item_precio_h4: #fff7fe;

$color-item_precio_button: #8a2be2;